/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  --background: #202124;
  --light-background: rgb(47, 48, 50);
}

body {
  background-color: var(--background);
  font-size: 10px;
  font-family: arial, sans-serif;
  color: white;
}

/* End general */

#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  align-items: center;
  top: 10rem;
  height: 12.25rem;
  justify-content: space-between;
}

#form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
  width: 100%;
}

.google-logo {
  width: 20rem;
  object-position: center bottom;
}

#input-text {
  width: 100%;
  height: 2.5rem;
  border: 1px solid wheat;
  background-color: var(--background);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
}

#input-text:hover,
#input-text:focus {
  background-color: var(--light-background);
}

#search-button-container {
  width: 18rem;
  display: flex;
  justify-content: space-around;
}

.search-button {
  height: 2rem;
  background-color: var(--light-background);
  color: white;
  border-radius: 0.5rem;
  border-style: none;
}

.search-button:hover {
  border: 1px solid white;
}

#header {
  display: flex;
  width: 19rem;
  justify-content: space-around;
  position: absolute;
  right: 0;
  font-size: 1rem;
  color: white;
}

#header a:hover {
  text-decoration: underline;
}

#advanced-text {
  color: #f28b82;
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 100;
}

#advanced-header {
  box-shadow: -1px 5px 0px -4px rgba(252, 252, 252, 0.88);
  -webkit-box-shadow: -1px 5px 0px -4px rgba(252, 252, 252, 0.88);
  -moz-box-shadow: -1px 5px 0px -4px rgba(252, 252, 252, 0.88);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#index-images-header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#advanced-main-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#advanced-main-container #find-with-text {
  font-size: 1rem;
}

#advanced-box-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

#advanced-box-container p {
  display: inline-block;
}

#advanced-form-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#advanced-search-submit {
  width: 7rem;
  align-self: flex-end;
  right: 0;
}

.advanced-search-field {
  color: white;
  padding: 1rem;
  height: 60%;
  width: 75%;
  border-radius: 0.125rem;
  border-style: none;
  background-color: var(--background);
  border: 1px solid white;
  transition: 0.5s;
  outline: none;
}

.advanced-search-field:focus {
  border: 1px solid rgb(101, 147, 206);
}

#advanced-search-submit {
  width: 10rem;
  height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.125rem;
  border-style: none;
  background-color: rgb(116, 163, 224);
}

#google-image-logo-container {
  position: relative;
}

#images-text {
  color: #4487f6;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
